.openseadragon, .data-missing {
  background: #000;
  width:800px;
  height:800px;
}

.data-missing {
  padding-top:45%;
  text-align:center;
  color:#fff;
}

.data-missing .subtle {
  color:#999;
}

.btn {
  margin: 0 0.3em 0.3em 0;
}

#slider-container {
  width: 750px;
}

#stack-input {
  width: 80px;
}

.uuid {
  margin-left: 1em;
  color:#777;
  font-size:0.5em;
}

h1 {
  margin-top: 0;
}
