.openseadragon, .data-missing {
  background: #000;
  width:800px;
  height:800px;
  margin: 0.3em 0;
}

.data-missing {
  padding-top:45%;
  text-align:center;
  color:#fff;
}

.subtle {
  color:#999;
}

.btn {
  margin: 0 0.3em 0.3em 0;
}

.cut_plane {
  margin-top: -4px;
}

#slider-container {
  width: 750px;
}

#depth {
  width: 70px;
}

.uuid {
  margin-left: 1em;
  color:#777;
  font-size:0.5em;
}

.info-header {
  border-bottom: #e7e7e7 solid 1px;
  margin-bottom: 1em;
}

h1 {
  margin-top: 0;
}

.highlight {
  border: 2px solid #0A7EBE;
  outline: 10px auto #0A7EBE;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

#volume_viewer {
  position: absolute;
  height: 535px;
  width: 535px;
  background: #000;
  z-index: 3;
  border: 1px solid #FF0;
  color: #FF0;
}

.closelink {
  float:right;
}

.bodymeta {
  float: left;
}
