<!DOCTYPE html>
<html ng-app>

<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="DVID Quadtree Viewer" />

    <script src="/quadtree/js/openseadragon/openseadragon.js"></script>
    <script src="/quadtree/js/openseadragon/openseadragon-scalebar.js"></script>
    <script src="/js/jquery-2.1.0.min.js"></script>
    <script src="/js/angular-1.2.12.min.js"></script>
    <script>
        var volumeWidth = {
            'xy': 3584,
            'xz': 3584,
            'yz': 3072
        };
        var volumeHeight = {
            'xy': 3072,
            'xz': 6656,
            'yz': 6656
        };
    </script>
    <style media="screen" type="text/css">
        .toolbar {
            width: 800px;
            height: 33px;
            border: none;
            color: #333;
            padding: 4px;
            background-color: transparent;
        }
    </style>
    <title>OpenSeadragon Tile Viewer</title>
</head>

<body>

<div id="toolbarDiv" class="toolbar" ng-controller="ToolbarController">
    <span style="float:left;margin:10px 0 0 0">
        <!--
        &lt;&nbsp;
        <a id="previous" href="#previous-page">Previous</a>
        | <a id="next" href="#next-page">Next</a>
        &nbsp;&gt;
        <input type="text" ng-model="viewer.plane" style="width:60px" />
        <input type="text" ng-model="viewer.slice" style="width:60px" />
        -->
    </span>
</div>
<div id="viewer" class="openseadragon" style="background-color:#000000; width:1000px; height:800px"></div>

<script>
    function getQueryStrings() {
        var vars = [], hash;
        var q = document.URL.split('?')[1];
        if (q != undefined) {
            q = q.split('&');
            for (var i = 0; i < q.length; i++) {
                hash = q[i].split('=');
                vars.push(hash[1]);
                vars[hash[0]] = hash[1];
            }
        }
        return vars;
    }
    function generateXYFunc(z) {
        console.log("generateXYFunc", z);
        var vars = getQueryStrings();
        var uuid = vars['uuid'];
        var name = vars['name'];
        return function(level, x, y) {
            return "http://localhost:8000/api/node/" + uuid + "/" + name + "/tile/xy/" + (3-level) + "/" + x + "_" + y + "_" + z;
        }
    }
    var viewer = {
        plane: 'xy',
        slice: 2000,
        tileSource: {
            height: volumeHeight['xy'],
            width:  volumeWidth['xy'],
            tileSize: 512,
            minLevel: 0,
            maxLevel: 3,
            // getTileAtPoint: function(level, point) { Add offset to compute tiles }
            getTileUrl: generateXYFunc(2000)
        }
    }
    function ToolbarController($scope) {
        $scope.viewer = viewer;
    }
    $('body').keypress(function(e) {
        var code = e.keyCode || e.which;
        console.log("Got keypress: ", code);
        switch (code) {
            case 38: // up
                viewer.z++;
                console.log("Setting z to ", viewer.z);
                viewer.tileSource.getTileUrl = generateXYFunc(viewer.z);
                viewer.xy.open(viewer.tileSource);
                break;
            case 40: // down
                viewer.z--;
                console.log("Setting z to ", viewer.z);
                viewer.tileSource.getTileUrl = generateXYFunc(viewer.z);
                viewer.xy.open(viewer.tileSource);
                break;
        }
        $('#slice').replaceWith('<span id="slice">' + slice + ' slice @ Z = ' + viewer.z + '</span>');
    });
    viewer.xy = OpenSeadragon({
        id:            "viewer",
        prefixUrl:     "/quadtree/js/openseadragon/images/",
        navigatorSizeRatio: 0.25,
        wrapHorizontal:     false,
        tileSources: viewer.tileSource,
        showNavigator: true
    });
    viewer.xy.scalebar({
        pixelsPerMeter: 1000000000/viewer.nmPerPixel,
        fontColor: "yellow",
        color: "yellow"
    });
</script>
</body>
</html>
